<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.android_academy.network">

    <dist:module
        dist:instant="true"
        dist:onDemand="false"
        dist:title="@string/title_network">
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

